<app-header></app-header>
<div class="contenedor">
  <div class="hero container text-center py-4">
    <div class="row">
      <div class="col nombre">
        <div class="calificacion">
          *****
        </div>
        <div class="marca">
          <h2 class="marca-detalle">Nike</h2>
          <h3 class="modelo">JORDAN Eclipse</h3>
        </div>
        <div class="precio">$299.00</div>
      </div>
      <div class="col">
        <div class="foto">
          <img src="../../../../assets/img/jordanTenis1.webp" alt="Tenis Nike Jordan negro suela blanca">
        </div>
        <div class="brand-overlay">
          NIKE
        </div>
      </div>
      <div class="col select-sizes">
        <h4 class="select-size">
          SELECCIONA LA TALLA
        </h4>
        <div class="tallas">
          <div class="p">15</div>
          <div class="p">16</div>
          <div class="p">17</div>
          <div class="p">18</div>
          <div class="p">19</div>
          <div class="p">20</div>
          <div class="p">21</div>
        </div>
        <button class="btn cart">Enviar al carrito</button>
      </div>
    </div>



  </div>

</div>
<app-details></app-details>
<app-opiniones></app-opiniones>
