<header>
  <nav class="navbar navbar-expand-lg me-auto mb2 mb-lg-0 px-4">
  <div class="brand logo">SupertTenisStore</div>
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class='nav-link'>Home</a></li>
      <li class="nav-item"><a class="nav-link">Escaparate</a></li>
      <li class="nav-item"><a class="nav-link">Novedades</a></li>
    <li class="nav-item"><a class="nav-link">Ofertas</a></li>
      <li class="nav-item"><a class="nav-link">Contacto</a></li>
    </ul>
  </div>
  <form (ngSubmit)="enviar()">
    <div class="input-group input-group-sm ">
      <input type="text" name="buscar" class="form-control" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon2">@</span>
    </div>
  </form>

  </nav>
</header>
